.app_info{
    padding: 10px;
    text-align: left;
    align-items: center;
    border-radius: 10px;
    /* background: #360033;  fallback for old browsers */
    background: linear-gradient( to right, rgba(54, 55, 149, 0.67), rgba(0, 92, 151, 0.67) );
    color: white;
}    

.smart{
    font-size: 40px;
    color: #360033;
}
h1{
    font-size: 35px;
}
h2{
    font-size: 30px;
}