.search{
    padding: 20px;
    text-align: left;
    align-items: center;
    border-radius: 10px;
    background: #360033;
    background: -webkit-linear-gradient(to right, #0b8793, #360033);
    background: linear-gradient(to right, #0b8793, #360033); 
    margin-top: 15px;
    margin-bottom: 15px;
    

}
.search_input{
    width: 100%;
    margin-bottom: 10px;
}